.van-cell-swipe__right {
    color: #FFFFFF;
    font-size: 16px;
    width: 65px;
    height: 44px;
    display: inline-block;
    text-align: center;
    line-height: 44px;
}

.van-cell-swipe__right {
    background-color: #df0707;
}


.van-panel__footer {
    text-align: right;
    .van-button {
        margin-left: 5px;
    }
}

.van-panel__content {
    padding: 20px;
}